    <footer class="mb-0">
        <div class="p-4" style="background-color: #D7B4F3;">
            <div class="row">
                <div class="col d-flex justify-content-center">Hello</div>
                <div class="col d-flex justify-content-center">hello</div>
                <div class="col d-flex justify-content-center">Hello</div>
            </div>
        </div>
    </footer>

    <script>
        const artists = document.querySelectorAll(".artists");
        console.log(artists);
        const observer = new IntersectionObserver(entries=>{
            entries.forEach(entry=>{
                entry.target.classList.toggle("show", entry.isIntersecting);
                if(entry.isIntersecting){
                    observer.unobserve(entry.target);
                }
            })
            },{
                threshold: 0.2
        });

        artists.forEach(artist=>{
            observer.observe(artist);
        });
<<<<<<< HEAD

        var canvas = document.getElementById('scaled');
        canvas.height = canvas.width;
        var total=0;
        var followers=[];
        var angles= [];

        $(document).ready(function(){
            $(".followers").each(function(){
                console.log($(this).text());
                total += parseFloat($(this).text());
                followers.push(parseFloat($(this).text()).toFixed(2));
            });
            console.log(total);
            console.log(followers); 
            console.log((followers/total.toFixed(2))*360);

            for(var i in followers){
                angles.push(getAngle(followers[i],total));
            }
            console.log(angles);
        });
    </script>   
=======
    </script>
>>>>>>> parent of 76ea4fe (added some logic to generate a pie chart)
</html>